body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #88d4e766;
}

h1 {
    color: #333;
}

.container {
    text-align: center;
}

.vertical-container{
    align-content: end;
}

.description-container{
    text-align: left;
    position: relative;
    margin-top: 20px;
}

.towers-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    position: relative;
}

.tower {
    width: 200px;
    height: 300px;
    border: 3px solid #333;
    background-color: #ddd;
    border-radius: 10px;
    position: relative; /* Mantener la torre en su posición */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.pole {
    width: 8px;
    height: 270px;
    background-color: #5a4b38cc;
    margin-top: 20px;
    border-radius: 5px;
    position: absolute; /* Mantener la pole posicionada dentro de la torre */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Asegura que las poles se vean por encima de las torres */
}

.disc {
    height: 20px;
    margin: 5px auto;
    border-radius: 5px;
    position: absolute; /* Absoluto dentro de la torre */
    bottom: 0; /* Para que se apilen desde el fondo */
    z-index: 10; /* Asegurar que los discos estén siempre al frente */
    transition: transform 1s ease, bottom 1s ease;
}

.project-info {
    position: relative;
    margin: 20px;

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        margin: 0 0 15px 0;
    }

    p, ul {
        margin: 0 0 15px 0;
        font-size: 0.9em;
        list-style-type:none;
    }    
}

.disc-1 { width: 20px; background-color: #ffffff; } /* LightGreen */
.disc-2 { width: 40px; background-color: #46c1fa; } /* DodgerBlue */
.disc-3 { width: 60px; background-color: #1e90ff; } /* Blue */
.disc-4 { width: 80px; background-color: #65aa65; } /* Khaki */
.disc-5 { width: 100px; background-color: #304e30; } /* Khaki */
.disc-6 { width: 120px; background-color: #ffa500; } /* orange */
.disc-7 { width: 140px; background-color: #ff6347; } /* Tomato */
.disc-8 { width: 160px; background-color: #642c15; } /* Tomato */
.disc-9 { width: 180px; background-color: #0c1116; } /* Tomato */

